.Homepage-main-div{
    background-color: #fff7f5;
    height: auto;
}

.homepage-heading{
    color: black;
}

.homepage-heading-image {
    width: 100%;
    height: 830px; 
    object-fit: cover;
    object-position: center;
    /* display: block;
    margin: 0 auto; */
}

.Popular-Bouquets-section{
    color: #9a283b;
}

.search-more-button-homepage{
    background-color: #fff7f5;
    border-color: #9a283b;
    border-radius: 4px;
    color: #9a283b;
    padding: 8px 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.Popular-Bouquets-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 150px 10px 150px;
}

.Popular-Bouquets-text{
    font-size: 35px;
    font-weight: 600;
}

.Popular-Bouquets-Images-with-text{
    display: flex;
    gap: 30px;
    justify-content: center;
    margin: 20px 100px 60px 100px;
}

.Bouquet-image{
    width: 525px;
    height: 525px;
    object-fit: cover;
    object-position: center;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease;
}